* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background: rgb(2, 0, 26);
    background: linear-gradient(90deg, rgb(2, 0, 36,) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: #ffffff;
    padding: 20px;
  }
  
  h1 {
    color: #007bff;
  }
  